version: '3'

services:
  truffle:
    container_name: truffle
    image: changwu/truffle
    volumes:
      - ./workspace:/workspace
    ports:
      - "8080:8080"
      - "8787:8545"
    entrypoint: sh
    command: '-c "sleep 1d"'

  ganache-cli:
    container_name: ganache-cli
    image: changwu/ganache-cli
    ports:
      - "8545:8545"
